<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Enregister un nouveau livre</h2>
        <form [formGroup]="categorieForm" (ngSubmit)="onSaveCategorie()">
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" formControlName="name"/>
            </div>
            <div class="form-group">
                <label for="libelle">libelle</label>
                <input type="text" class="form-control" id="libelle" formControlName="libelle"/>
            </div>
            <div class="form-group">
                <label for="groupe">Type de catégorie</label>
                <input type="text" class="form-control" id="groupe" formControlName="groupe"/>
            </div>
            <button class="btn btn-success" [disabled]="categorieForm.invalid" type="submmit" > Enregistrer</button>
        </form>
    </div>
</div>