<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
                <div class="promo pr-md-3 pr-lg-5">
                    <h1 class="headline mb-3">
                        {{headinfos.titre}} 
                    </h1><!--//headline-->
                    <div class="subheadline mb-4">
                        {{headinfos.introduction}}
                    </div><!--//subheading-->
                    
                    <div class="cta-holder">
                        <a class="btn btn-primary mr-lg-2" routerLink="/preventions">Acceder au prevention</a>
                        <a class="btn btn-secondary scrollto" [routerLink]="['/usagers']" fragment="benefits-section">voir plus</a>
                        
                    </div><!--//cta-holder-->
                    
                    <div class="hero-quotes mt-5" *ngIf="headinfos.textes">
                        <div id="quotes-carousel" class="quotes-carousel carousel slide carousel-fade mb-5" data-ride="carousel" data-interval="8000">
                            <ol class="carousel-indicators">
                                <li data-target="#quotes-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#quotes-carousel" data-slide-to="1" ></li>
                                <li data-target="#quotes-carousel" data-slide-to="2" ></li>
                                <li data-target="#quotes-carousel" data-slide-to="3" ></li>
                                <li data-target="#quotes-carousel" data-slide-to="4" ></li>
                                <li data-target="#quotes-carousel" data-slide-to="5" ></li>
                            </ol>
                        
                            <div class="carousel-inner" *ngIf="headinfos.textes">
                                <div *ngFor="let c of headinfos.textes; let i=index; first as isFirst" [ngClass]="isFirst? 'carousel-item active':'carousel-item'">
                                    <blockquote class="quote p-4 theme-bg-light">
                                        "{{c.resume}}"     
                                    </blockquote><!--//item-->
                                    <div class="source media flex-column flex-md-row align-items-center">
                                        <img class="source-profile mr-md-3" [src]="c.profile" [alt]="c.resume">
                                        <div class="source-info media-body text-center text-md-left">
                                            <div class="source-name">{{c.name}}</div>
                                            <div class="soure-title">{{c.titre}}</div>
                                        </div>
                                    </div><!--//source-->
                                </div><!--//carousel-item-->
                            </div><!--//carousel-inner-->
                        </div><!--//quotes-carousel-->
                        
                    </div><!--//hero-quotes-->
                </div><!--//promo-->
            </div><!--col-->
            <div class="col-12 col-md-5 mb-5 align-self-center">
                <div class="book-cover-holder">
                    <img class="img-fluid book-cover" [src]="headinfos.cover" [alt]="headinfos.introduction">
                    <div class="book-badge d-inline-block shadow">
                        New<br>Release
                    </div>
                </div><!--//book-cover-holder-->
                <div class="text-center"><a class="theme-link scrollto" [routerLink]="['/usagers']" fragment="reviews-section">
                    Voir tout les témoignages</a></div>
            </div><!--col-->
        </div><!--//row-->
    </div><!--//container-->
</section>