<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-2">
                <div [formGroup]="commissionForm" (ngSubmit)="onSaveCommission()">
                    <div class="form-group">
                        <label for="titre">Titre</label>
                        <input type="text" class="form-control" id="titre" formControlName="titre"/>
                    </div>
                    <div class="form-group">
                        <label for="introduction">Introduction</label>
                        <textarea class="form-control" id="introduction" formControlName="introduction"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control" id="profile" formControlName="profile"/>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="titreoutil">Libellé Outil</label>
                                <input type="text" class="form-control" id="titreoutil" formControlName="titreoutil"/>
                            </div>
                            <div class="form-group">
                                <label for="resumeoutil">Resume de l'Outil</label>
                                <textarea class="form-control" id="resumeoutil" formControlName="resumeoutil"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="titremodalite">Libellé des modalités</label>
                                <input type="text" class="form-control" id="titremodalite" formControlName="titremodalite"/>
                            </div>
                            <div class="form-group">
                                <label for="resumemodalite">Resume des modalités</label>
                                <textarea class="form-control" id="resumemodalite" formControlName="resumemodalite"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">   
                        <hr>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-12">
                                <button type="button" class="btn btn-primary" (click)="addPerspective()"> Ajouter une perspective</button>
                            </div>
                        </div>
                        <div formArrayName="perspectives">
                            <div *ngFor="let perspective of this.commissionForm.get('perspectives').controls; let i = index" [formGroupName]="i" style="float: left;">
                                <div>
                                    <div class="form-group">
                                        <label for="titre">titre</label>
                                        <input type="text" class="form-control" id="titre" formControlName="titre"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="resume">Resume</label>
                                        <textarea class="form-control" id="resume" formControlName="resume"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" (change)="detectFilesmodalites($event, 'perspective')" class="form-control" id="profile" formControlName="profile">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-12">
                                    <button type="button" class="btn btn-primary" (click)="addObjectif()"> Ajouter un objectif</button>
                                </div>
                            </div>
                            <div formArrayName="objectifs">
                                <div *ngFor="let objectif of this.commissionForm.get('objectifs').controls; let i = index" [formGroupName]="i" style="float: left;">
                                    <div>
                                        <div class="form-group">
                                            <label for="titre">titre</label>
                                            <input type="text" class="form-control" id="titre" formControlName="titre"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="resume">Resume</label>
                                            <textarea class="form-control" id="resume" formControlName="resume"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-12">
                                <button type="button" class="btn btn-primary" (click)="addModalite()"> Ajouter une modalite</button>
                            </div>
                        </div>
                        <div formArrayName="modalites">
                            <div *ngFor="let modalite of this.commissionForm.get('modalites').controls; let i = index" [formGroupName]="i" style="float: left;">
                                <div>
                                    <div class="form-group">
                                        <label for="titre">titre</label>
                                        <input type="text" class="form-control" id="titre" formControlName="titre"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <hr>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-12">
                                <button type="button" class="btn btn-primary" (click)="addOutil()"> Ajouter un outil</button>
                            </div>
                        </div>
                        <div formArrayName="outils">
                            <div *ngFor="let outil of this.commissionForm.get('outils').controls; let i = index" [formGroupName]="i" style="float: left;">
                                <div>
                                    <div class="form-group">
                                        <label for="titre">titre</label>
                                        <input type="text" class="form-control" id="titre" formControlName="titre"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="groupe">groupe</label>
                                        <input type="text" class="form-control" id="groupe" formControlName="groupe"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="resume">Resume</label>
                                        <input type="text" class="form-control" id="resume" formControlName="resume"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" (change)="detectFilesmodalites($event, 'outil')" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                    <button class="btn btn-success" type="submit" [disabled]="commissionForm.invalid" (click)="onSaveCommission()">Sauvegarder</button>
                </div>
            </div><!--//row-->
        </div><!--//container-->
    </div>
</section>