<section class="bg0 p-t-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="p-b-20">
                    <!-- Entertainment -->
                    <div class="tab01 p-b-20">
                        <my-app [actualites]="actualites" [filter]="filter"></my-app>                           
                    </div>

                   
                </div>
            </div>

            <div class="col-md-10 col-lg-4">
                <div class="p-l-10 p-rl-0-sr991 p-b-20">
                      <!--  -->
                    <div class="flex-c-s p-t-8">
                        <a href="#">
                            <img class="max-w-full" [src]="layout.bannerFile" [alt]="layout.bannerResume">
                        </a>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>