
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Enregister un nouveau feature</h2>
        <form [formGroup]="featureForm" (ngSubmit)="submitHandler()">
            <div class="form-group">
                <label for="identifiant">Identifiant</label>
                <select id="identifiant" formControlName="identifiant">
                    <option *ngFor="let categ of FeatIndexArray; let i = index" [value]="i">
                        {{ categ.name }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name"/>
            </div>
            <div class="row">   
                <hr>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-12">
                        <button type="button" class="btn btn-primary" (click)="addActualite()"> Ajouter l'Actualite</button>
                    </div>
                </div>
                <div formArrayName="actualites">
                    <div *ngFor="let group of this.featureForm.get('actualites').controls; let i = index" [formGroupName]="i">
                        
                        <div class="form-group">
                            <label for="actualite"><h2>Actualite - {{i}}</h2></label>
                            <select id="actualite" formControlName="actualite">
                                <option *ngFor="let actualite of actualites let i = index" [value]="i">
                                {{ actualite.title }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>            
            <button class="btn btn-success" [disabled]="featureForm.invalid" type="submit" > Enregistrer</button>
        </form>
    </div>
</div>