<div *ngIf="!editRapport">
    <app-rapports></app-rapports>
</div>
<div *ngIf="editRapport">
    <form [formGroup]="RapportForm" (ngSubmit)="onSaveRapport()">
        <!--====== ABOUT PART START ======-->
        <section class="about-area">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-6 order-lg-last">
                            <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="section-title">
                                    <div class="line"></div> 
                                    <h3 *ngIf="editRapport" class="title"><input type="text" placeholder="libelle" formControlName="libelle"/></h3>
                                    <h6 *ngIf="editRapport"><input type="text" placeholder="periode" formControlName="periode"/></h6>
                                </div> <!-- section title -->
                                <textarea *ngIf="editRapport" class="form-control" formControlName="resume"></textarea>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="file" formControlName="cover" (change)="detectFilesPdf($event, 'cover')" accept="image/*">
                                        <button *ngIf="editRapport" class="main-btn" [disabled]="RapportForm.invalid" type="submit">Sauvegarder</button>
                                    </div>
                                </div>
                            </div> <!-- about content -->
                        </div>
                        <div class="col-lg-6 order-lg-first">
                            <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div *ngIf="editRapport" class="hovereffect">
                                <div class="overlay">
                                    <h2>Changer le photo</h2>
                                    <a class="info">
                                        <p class="btn btn-default btn-file">
                                        Changer <input type="file" formControlName="fichier" (change)="detectFilesPdf($event, 'fileUrl')" accept="application/pdf">
                                        </p>
                                    </a>
                                </div>
                            </div>
                            </div> <!-- about image -->
                        </div>
                    </div> <!-- row -->
            </div> <!-- container -->
        </section>
    </form>
</div>